@font-face {
  font-family: 'Squada';
  src: url('./fonts/SquadaOne-Regular.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.logo-font {
  font-family: 'Squada';
  font-size: 80px;
}

.MuiInputBase-root {
  background-color: white !important;
}

.modal-backdrop {
  background-color: #3B3B3B00;
}
